body{
    font-family: "hagrid", sans-serif;
    color: #ffe192;
    background-color: #012014;
    height: 100vh;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    background-color: #012b1b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
    border-color: #395244;
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
    width: 350px;
    height: 400px;
}

input[type="date"]{
    display: inline-flex;
    align-items: center;
    background-color: #012014;
    color: #ffe192;
    border-color: #395244;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    padding: 5px;
    margin-top: 10px;
}

#verificar-btn{
    background-color: #012014;
    color: #ffe192;
    border-color: #395244;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

.resultado-sim{
    background-color: #ad2402;
    font-size: 18px;
    font-weight: bold;
    color: #fff0cb;
    border-color: #5f8670;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    padding: 1px 10px;
}

.resultado-nao{
    background-color: #004718;
    font-size: 18px;
    font-weight: bold;
    color: #fff0cb;
    border-color: #5f8670;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    padding: 1px 10px;
}